{% extends "layout.html" %}

{% block heading %}
    Contribute
{% endblock %}

{% block body %}
<div class="container" style="padding:20px">
    <h2>Rules</h2>
For this project to work, it’s essential to be sure of the contents you send. I’m alone and it would be too time consuming for me to check them. There’s no college restriction, it will be great if you add yours.
</div>


<div class="row justify-content-center" style="color:gray;padding:40px">
  <div class="col-xs-12 col-lg-6" >
    <div class="card ml-auto">
        <div class="card-header">
            I code
        </div>
      <div class="card-body">
        <p class="card-text">If you know latex and git you should create a pull request.</p>
        <a href="https://github.com/mbataillou/Summaries" class="btn btn-primary">Repo</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6" >
    <div class="card mr-auto">
        <div class="card-header">
            I don’t code
        </div>
      <div class="card-body">
        <p class="card-text">
In any other case you can send an email to <a href="mailto:summaries.git@gmail.com" style="color:#7ae9ce">summaries.git@gmail.com</a>, detailing the exact correction (already written) you think I should do. You can also send a summary about another subject I haven’t already covered.</p>
<a href="mailto:summaries.git@gmail.com" class="btn btn-primary">Email</a>
      </div>
    </div>
  </div>
</div>



{% endblock %}
