*.log
*.aux
*.swp
*.DS_Store
*.d
*~
*.fls
*.temp
*.dvi
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.run.xml
*.asv
*.db
*.lb

# auxFile
Caminos/Estructuras_Hormigon/auxFile/*
Caminos/Geotecnia/auxFile/*
Caminos/Geotecnia/_minted-sumup/*
Caminos/Hidrologia/auxFile/*
Caminos/Proyectos_Organizacion/auxFile/*
Centrale/Economie/auxFile/*
Centrale/Finance_Avancee/auxFile/*
Centrale/Physique_Quantique/auxFile/*
Dauphine/Micro/auxFile/*

Caminos/Estructuras_Hormigon/auxFile/
Caminos/Geotecnia/auxFile/
Caminos/Geotecnia/_minted-sumup/
Caminos/Hidrologia/auxFile/
Caminos/Proyectos_Organizacion/auxFile/
Centrale/Economie/auxFile/
Centrale/Finance_Avancee/auxFile/
Centrale/Physique_Quantique/auxFile/
Dauphine/Micro/auxFile/

auxFile/


#sublime
*.sublime-project
*.sublime-workspace

#biblatex
*.bbl
*.bcf
*.blg

*.gz(busy)