{% extends "layout.html" %}

{% block heading %}
    CentraleSupélec
{% endblock %}

{% block body %}
Some subjects lack of an appropriate teaching material or there is a way of complementing the available material in a useful way. This situations add unnecessary complications to the subjects understanding. This project tries to tackle this problem by building a collaborative and concise database of notes and summaries.

The main characteristic of this summaries is their time variability as they should evolve with the contribution of each promotion. This said, how do you <a href="{{ url_for('contribute') }}">contribute</a>?
{% endblock %}
